<form>
  <div *ngIf="questionItem.recursionLevel > 0">
    <label>Condition
      <select [(ngModel)]="questionItem.conditionType" name="conditionType">
        <option *ngIf="(answerTypes[questionItem.expectedAnswerType]==='Text' || answerTypes[questionItem.expectedAnswerType]==='Yes/No'); else allConditions"
          value="0" [label]="conditionTypes[0]"></option>
        <ng-template #allConditions>
          <option *ngFor="let key of conditionTypesKeys" [value]="key" [label]="conditionTypes[key]"></option>
        </ng-template>
      </select>
    </label>

    <input *ngIf="answerTypes[questionItem.expectedAnswerType]==='Text'" type="text" (blur)="saveItem()" [(ngModel)]="questionItem.expectedAnswer"
      name="expectedAnswer" required>
    <input *ngIf="answerTypes[questionItem.expectedAnswerType]==='Number'" type="number" (blur)="saveItem()" [(ngModel)]="questionItem.expectedAnswer"
      name="expectedAnswer" required>
    <select *ngIf="answerTypes[questionItem.expectedAnswerType]==='Yes/No'" name="" id=" " (change)="saveItem()" [(ngModel)]="questionItem.expectedAnswer"
      name="expectedAnswer">
      <option selected value="0" [(ngModel)]="questionItem.expectedAnswer" name="">Yes</option>
      <option value="1">No</option>
    </select>

  </div>
  <div>
    <label for="">Question
      <input type="text " required (blur)="saveItem()" [(ngModel)]="questionItem.question" name="question">
    </label>
  </div>
  <div>
    <label for="">Type
      <select name="" id="" [(ngModel)]="questionItem.answerType" name="answerType">
        <option *ngFor="let key of answerTypesKeys" [value]="key" [label]="answerTypes[key]">
        </option>
      </select>
    </label>
  </div>

  <div>
    <button (click)="addSubInput()">Add sub-input</button>
    <button>Delete</button>
  </div>

</form>