/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(220, 229, 244));
}
.btn {
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: rgba(70, 136, 242, 0.5);
}

.btn:hover {
  background-color: rgba(70, 136, 242, 1);
}
